@import "font.css";
@import "reset.css";

$black: #000000;
$white: #FFFFFF;
$accent: #F0145A;
$main: #323264;
$main-alt: #46466E;
$main-soft: #686887;
$blue-regular: #24A3FF;
$blue-hover: #0085FF;
$blue-active: #006CCF;
$grey-bg: #F5F5FA;
$bg-alt: #EDEDF7;
$text: #B3B3BA;
$separator: #E6E6F0;
$gradient: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
$gradient-soft: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
$gradient-red: linear-gradient(121.42deg, #F0145A 30.65%, #693264 107.33%);
$gradient-supersoft: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$gradient-redtext: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
$gradient-redtext-reversed: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);


body{
  font-family: 'TT Norms' , sans-serif;
  font-size: 18px;
  line-height: 1.44;
  color: $black;
}
.container{
  padding: 0 20px;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

p{
  font-size: 16px;
  font-weight: 400;

}

h1{
  font-size: 42px;
  line-height: 50px;
}

h2{
  font-size: 32px;
  line-height: 38px;
  font-weight: 400;
}

h3{
  font-size: 24px;
  line-height: 28px;
}

h3.caps{
  font-size: 14px;
  line-height: 17px;
}

h4{
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;

}



.link{
  font-size: 16px;
  line-height: 20px;
  color: $blue-regular;
  transition: all 0.3s;

  &:hover{
    color: $accent;
  }

}

.btn{
  background: $blue-regular;
  box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
  color: $white;
  border-radius: 12px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  width: 100%;
  max-width: 250px;
  text-align: center;
  transition: all 0.3s;
  padding: 16px 24px 17px;
  &:hover{
    box-shadow: 0 0 30px rgba(36, 163, 255, 0.5);

  }
  &:active{
    background: $blue-active;
  }

}

.d-flex {
  display: flex;
}

.lang-buttons {
  align-items: center;
  gap: 4px;
  button {
    background-color: transparent;
    border-radius: 8px;
    padding: 5px 6px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 1px;
    color: $white;
    &:hover, &:active {
      background: $accent;
    }
  }

}

.slick {
  &-dots {
    display: flex;
    justify-content: center;
    list-style-type: none;

    li:not(:last-of-type) {
      margin-right: 14px;
    }

    button {
      color: transparent;
      background-color: transparent;

      &:hover{
        &:after{
          background-color: $accent;
        }
      }

      &:after {
        content: '';
        display: block;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background-color: $blue-regular;
        opacity: 0.2;
      }

    }

    li.slick-active {
      button:after {
        opacity: 1;
      }
    }
  }
}

.logo {
  color: white;
}